body {
    background-color: cornflowerblue;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

table {
    background-color: #FFF;
    border-collapse: collapse;
}

caption {
    background-color: #000;
    color: #FFF;
    border: 1px solid black;
    border-bottom: none;
    padding: .5rem 0;
}

tr, th, td {
    border: 1px solid black;
    padding: .3rem .5rem;
    text-align: center;
}
