table {
    border-collapse: collapse;
}

caption {
    border: 1px solid black;
    border-bottom: none;
    padding: .5rem 0;
}

tr, th, td {
    border: 1px solid black;
    padding: .3rem .5rem;
    text-align: center;
}
